:root {
  --green: rgb(6, 143, 6);
  --pink: rgb(255, 7, 110);
  --orange: rgb(250, 148, 14);
  --darkgreen: rgb(6, 100, 6);
  --darkpink: rgb(172, 26, 87);
  --darkorange: rgb(211, 122, 6);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: gray;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  font-family: roboto;
  border-radius: 18px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
  margin: 20px;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.image-01 {
  background: url("../images/img01.jpg");
  background-size: cover;
}

.image-02 {
  background: url("../images/img02.jpg");
  background-size: cover;
}

.image-03 {
  background: url("../images/img03.jpg");
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text .date {
  font-size: 13px;
}

.cor-date-01 {
  color: var(--green);
}

.cor-date-02 {
  color: var(--pink);
}

.cor-date-03 {
  color: var(--orange);
}

.card-text p {
  margin-top: 20px;
  color: gray;
  font-size: 15px;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card-status {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.status-color-01 {
  background-color: var(--green);
}

.status-color-02 {
  background-color: var(--pink);
}

.status-color-03 {
  background-color: var(--orange);
}

.card-status .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.card-status .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.card-status .value {
  font-size: 22px;
  font-weight: 500;
}

.card-status .border-01 {
  border-left: 1px solid var(--darkgreen);
  border-right: 1px solid var(--darkgreen);
}

.card-status .border-02 {
  border-left: 1px solid var(--darkpink);
  border-right: 1px solid var(--darkpink);
}

.card-status .border-03 {
  border-left: 1px solid var(--darkorange);
  border-right: 1px solid var(--darkorange);
}

.card-status .value sup {
  font-size: 12px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
